<a href="https://colab.research.google.com/github/MohammedNayaz/Application-Development-with-Python/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module 2

##Lists are mutable, Justify the statements with example.

In [ ]:
fruit = ["car", "bike", "jeep"]
print(fruit)

fruit[0] = "bus"
fruit[-1] = "train"
print(fruit)

['car', 'bike', 'jeep']
['bus', 'bike', 'train']

##Explain the concept of list slicing and list traversing with example.

concept of list slicing

In [ ]:
my_first_list = [1,2,3, 'Tecnico MDN', 1.23]

#Display last element
print(my_first_list[-1]) 

#Display the last 3rd element
print(my_first_list[-3]) 

#Display from 3rd element to end of the list(3rd element is excluded)
print(my_first_list[3:])

#Display the first 4 elements
print(my_first_list[ : 4])

1.23
3
['Tecnico MDN', 1.23]
[1, 2, 3, 'Tecnico MDN']

list traversing

In [ ]:
# Python3 code to iterate over a list 
list = [1, 3, 5, 7, 9] 
   
# getting length of list 
length = len(list) 
   
# Iterating the index 
# same as 'for i in range(len(list))' 
for i in range(length): 
    print(list[i])

1
3
5
7
9

##Show how one list can contain another list can be accessed using multiple indexes with example.

In [ ]:
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']

print(L[2])
# Prints ['cc', 'dd', ['eee', 'fff']]

print(L[2][2])
# Prints ['eee', 'fff']

print(L[2][2][0])
# Prints eee

['cc', 'dd', ['eee', 'fff']]
['eee', 'fff']
eee

In [ ]:
list = ['1st year',['sem1','sem2'], '2nd year' ,['sem3','sem4'],'3rd year',['sem5','sem6'],'4th year',['sem7','sem8']]
#the above list is indexed like 0, 1, 2, 3, 4, 

#Display 1st list elements 
print(list[1])

#Display 4th list
print(list[4])

print(list[6])

#Display 3rd list 1st index element -> 2nd year
print(list[3][1])

print(list[1][1])
print(list[:4])
print(list[:8])

['sem1', 'sem2']
3rd year
4th year
sem4
sem2
['1st year', ['sem1', 'sem2'], '2nd year', ['sem3', 'sem4']]
['1st year', ['sem1', 'sem2'], '2nd year', ['sem3', 'sem4'], '3rd year', ['sem5', 'sem6'], '4th year', ['sem7', 'sem8']]

##Demonstrate how to Changing Values in a List using Indexes

In [ ]:
my_list = ['car','jeep','suv','bus','bike']
my_list

['car', 'jeep', 'suv', 'bus', 'bike']

In [ ]:
my_list = ['car','jeep','suv','bus','bike']
my_list[1] = 'jet'
my_list

['car', 'jet', 'suv', 'bus', 'bike']

In [ ]:
my_list[2] = my_list[1]
my_list

['car', 'jet', 'jet', 'bus', 'bike']

In [ ]:
my_list[-2] = '4SM18CSXXX'
my_list[-1] = 123456789
my_list

['car', 'jet', 'jet', '4SM18CSXXX', 123456789]

##Demonstrate how Removing values from Lists with del Statements.

In [ ]:
lis = [2, 1, 3, 5, 4, 3, 8] 
 
# using del to delete elements from pos. 2 to 5 
# deletes 3,5,4 
del lis[2 : 5] 
  
# displaying list after deleting  
print ("List elements after deleting are : ",end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ") 
      
print("\r") 
  
# using pop() to delete element at pos 2 
# deletes 3 
lis.pop(2) 
  
# displaying list after popping   
print ("List elements after popping are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ")

List elements after deleting are : 2 1 3 8
List elements after popping are : 2 1 8

In [ ]:
# creating a list 
list1 = [11, 5, 17, 18, 23, 50]  
  
# Iterate each element in list and add them in variale total 
for ele in list1: 
    if ele % 2 == 0: 
        list1.remove(ele) 
  
# printing modified list 
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]

##Explain list Concatenation and list Replication.

In [ ]:
# concatenation using + operator  
  
# Initializing lists 
test_list3 = [1, 4, 5, 6, 5] 
test_list4 = [3, 5, 7, 2, 5] 
  
# using + operator to concat 
test_list3 = test_list3 + test_list4 
  
# Printing concatenated list 
print ("Concatenated list using + : " + str(test_list3))

Concatenated list using + : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [ ]:
# Concatenating dictionary value lists 
# Using sum() + values() 
  
# initializing dictionary 
test_dict = {"Gfg" : [4, 5], "is" : [6, 8], "best" : [10]} 
  
# printing original dictionary 
print("The original dictionary is : " + str(test_dict)) 
  
# Concatenating dictionary value lists 
# Using sum() + values() 
res = sum(test_dict.values(), []) 
  
# printing result  
print("The Concatenated list values are : " + str(res))

The original dictionary is : {'Gfg': [4, 5], 'is': [6, 8], 'best': [10]}
The Concatenated list values are : [4, 5, 6, 8, 10]

##Explain with example the in and not in Operators

in operator : The ‘in’ operator is used to check if a value exists in a sequence or not. Evaluates to true if it finds a variable in the specified sequence and false otherwise.

In [ ]:
# Finding common member in list  
# using 'in' operator 
list1=[1,2,3,4,5] 
list2=[6,7,8,9] 
for item in list1: 
    if item in list2: 
        print("overlapping")       
else: 
    print("not overlapping")

not overlapping

‘not in’ operator- Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [ ]:
# not 'in' operator 
x = 24
y = 20
list = [10, 20, 30, 40, 50 ]; 
  
if ( x not in list ): 
   print("x is NOT present in given list") 
else: 
   print("x is  present in given list") 
  
if ( y in list ): 
   print("y is present in given list") 
else: 
   print("y is NOT present in given list")

x is NOT present in given list
y is present in given list